# Virat Kohli : Batting Analysis (2008-2018):
**Virat Kohli** is an Indian cricketer. He was born in Delhi, India on November 5, 1988. Virat is the first player in ICC cricket history to win all 3 ICC awards in a single year- ICC ODI player of the year, ICC Test player of the year and ICC Player of the year award in 2018.

<img src="https://images.thequint.com/thequint%2F2018-01%2F5d369107-8477-4216-a39d-ad806e1d3a0c%2FVirat-century.jpg?rect=0%2C0%2C4650%2C2616&auto=format%2Ccompress&fmt=webp&w=700&dpr=1.0.jpg" width="500" height="500" />

**Born**: November 5, 1988, Delhi, India

**Team**: India national cricket team

**Sport**: Cricket

**Nationality**: India

**Data Dictionary**
1. RunsScored : Number of Runs scored by Kohli in the match.
2. BallsFaced : Number of Balls Faces by Kohli in the match.
3. BattingPosition : Batting position is Virat Kohli's position on the batting order.
4. Dismissal : How Kohli got out in the match or not out. Caught, NO: Not Out, Bowled, Run out, LBW, Stumped, Hit wicket.
5. Inning : An innings is one of the divisions of a match during which one team takes its turn to bat. Two 1st inning or 2nd inning.
6. Opposition : Name of the Opposition team.
7. Year : Year in which the match was played.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
# Read Bastman details file
mydata = pd.read_csv('Batsman.csv')

In [3]:
# View first 5 rows
mydata.head()

   RunsScored  BallsFaced  BattingPosition Dismissal  Inning Opposition  Year
0          12          22                2       LBW       1  Sri Lanka  2008
1          37          67                2    Caught       2  Sri Lanka  2008
2          25          38                1   Run out       1  Sri Lanka  2008
3          54          66                1    Bowled       1  Sri Lanka  2008
4          31          46                1       LBW       2  Sri Lanka  2008

In [4]:
# the data is successfully loaded and it can be observed that this data contains 
# Virat batting Scores based on Inning, Country (here Oppostion) and year. 
# It also shows his batting positions along with how many balls he faced.

Now , Understanding the shape of the dataset is also important

Let us now check the dimensions of the dataset by using the shape attribute.

The shape attribute will help us to get the number of rows and columns of the dataset.
Knowing the dimensions of the dataframe will help us to understand the number of data points we are working with 
and proves to be beneficial especially when the dataset is a large one (consisting of a large number of rows and columns).

In [5]:
#Shape of the data
mydata.shape

(208, 7)

Now we are aware of the shape of the dataframe. Let us now have a look at the types of data that we are working with.

The ***info()*** function will help us to understand the data types of the columns.

**Understanding data types ensures that data is stored in the preferred format and the value of each property is as expected.**

In [6]:
#Checking Info
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       208 non-null    int64
 1   BallsFaced       208 non-null    int64
 2   BattingPosition  208 non-null    int64
 3   Dismissal        208 non-null    object
 4   Inning           208 non-null    int64
 5   Opposition       208 non-null    object
 6   Year             208 non-null    int64
dtypes: int64(5), object(2)
memory usage: 11.5+ KB

In [7]:
# we can see here 5 columns are numeric (RunScored, BallsFaced, BattlingPosition, Inning and Year)
# whereas dismissal and Oppsition are categorical type

In [8]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       208 non-null    int64
 1   BallsFaced       208 non-null    int64
 2   BattingPosition  208 non-null    int64
 3   Dismissal        208 non-null    object
 4   Inning           208 non-null    int64
 5   Opposition       208 non-null    object
 6   Year             208 non-null    int64
dtypes: int64(5), object(2)
memory usage: 11.5+ KB

In [9]:
# Now, year is not an integer

In [10]:
# Show just column names as a dataframe
mydata[:0]

Empty DataFrame
Columns: [RunsScored, BallsFaced, BattingPosition, Dismissal, Inning, Opposition, Year]
Index: []

In [11]:
mydata

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year
0,12,22,2,LBW,1,Sri Lanka,2008
1,37,67,2,Caught,2,Sri Lanka,2008
2,25,38,1,Run out,1,Sri Lanka,2008
3,54,66,1,Bowled,1,Sri Lanka,2008
4,31,46,1,LBW,2,Sri Lanka,2008
...,...,...,...,...,...,...,...
203,140,107,3,Stumped,2,West Indies,2018
204,157,129,3,NO,1,West Indies,2018
205,107,119,3,Bowled,2,West Indies,2018
206,16,17,3,Caught,1,West Indies,2018
207,33,29,3,NO,2,West Indies,2018

In [12]:
# Now, before attempting the questions, it is important to understand statistical summary of the data. 
# Getting the statistical summary for the user dataset

# The describe() function will help us in finding out the statistical summary.

# The statistical summary will give us a overview of the numerical columns of the data and 
# display various features like the minimum, maximum, mean, standard deviation, etc. of the columns. 
# This will help us to understand the distribution of the values present in the numerical columns.

# What each term represents and how we can make analysis will be taught in next module (Statistical Methods of Decision Making)

In [13]:
mydata.describe()

       RunsScored  BallsFaced  BattingPosition      Inning         Year
count  208.000000  208.000000       208.000000  208.000000   208.000000
mean    49.192308   52.961538         3.264423    1.567308  2013.240385
std     43.797641   39.850548         0.781602    0.496644     2.750477
min      0.000000    0.000000         1.000000    1.000000  2008.000000
25%     10.750000   18.000000         3.000000    1.000000  2011.000000
50%     35.000000   46.500000         3.000000    2.000000  2013.000000
75%     81.250000   83.250000         3.000000    2.000000  2015.000000
max    183.000000  159.000000         7.000000    2.000000  2018.000000

In [14]:
# Here, some basic insights which we can get are that Virat Highest score is 183 and lowest 0.
# Virat has played 7 Battling positions
# On an average Virat scored 49 from year 2008 to 2018.

## Q 1. Against which opposition Virat has scored maximum Runs. Also, show the average score against each opposition.

In [15]:
mydata.groupby(['Opposition'])['RunsScored'].sum().sort_values(ascending= False)

Opposition
Sri Lanka       2186
West Indies     1840
South Africa    1269
Australia       1182
New Zealand     1154
England         1112
Bangladesh       654
Pakistan         459
Zimbabwe         253
Ireland           78
U.A.E.            33
Netherlands       12
Name: RunsScored, dtype: int64

In [16]:
# Virat has scored maximum runs while playing with Sri Lanka, however minimum scores when played with Netherlands

In [17]:
#Average
mydata.groupby(['Opposition'])['RunsScored'].mean().sort_values(ascending= False)

Opposition
New Zealand     60.736842
Bangladesh      59.454545
West Indies     57.500000
South Africa    52.875000
Sri Lanka       48.577778
Australia       45.461538
Zimbabwe        42.166667
Ireland         39.000000
England         38.344828
Pakistan        38.250000
U.A.E.          33.000000
Netherlands     12.000000
Name: RunsScored, dtype: float64

In [18]:
# median
mydata.groupby(['Opposition'])['RunsScored'].median().sort_values(ascending= False)

Opposition
Bangladesh      66.0
New Zealand     64.0
West Indies     46.0
South Africa    41.0
Ireland         39.0
Sri Lanka       37.0
England         35.0
U.A.E.          33.0
Australia       29.0
Zimbabwe        28.0
Pakistan        12.5
Netherlands     12.0
Name: RunsScored, dtype: float64

## Q 2. In which year, Virat has scored maximum Runs.

In [19]:
mydata.groupby(['Year'])['RunsScored'].sum().sort_values(ascending= False)

Year
2017    1460
2011    1381
2013    1268
2018    1202
2014    1054
2012    1026
2010     995
2016     739
2015     623
2009     325
2008     159
Name: RunsScored, dtype: int64

In [20]:
# Virat Scored maximum in year 2017 and Minimum in 2008.

## Q 3. In which year, Virat has scored maximum Runs with which Opposition?

In [21]:
mydata.groupby(['Year','Opposition']).RunsScored.sum().sort_values(ascending= False).head(1)

Year  Opposition
2012  Sri Lanka     695
Name: RunsScored, dtype: int64

## OR

In [22]:
mydata.groupby(['Year','Opposition'])['RunsScored'].sum().sort_values(ascending= False).head(1)

Year  Opposition
2012  Sri Lanka     695
Name: RunsScored, dtype: int64

In [23]:
# Virat scored highest Runs in 2012 against Sri Lanka i.e. 695

## Q 4. In how many matches Virat was not out. (Consider Dismissal column here).

In [24]:
mydata["Dismissal"].value_counts()

Caught        121
NO             37
Bowled         21
LBW            12
Run out        12
Stumped         4
Hit wicket      1
Name: Dismissal, dtype: int64

In [25]:
37/208

0.1778846153846154

In [26]:
# Virat was not out in 37 matches

## Q 5. Find the number of times when kohli scored less than or equal to 7 runs?

In [27]:
mydata_runs=mydata[mydata['RunsScored']<=7]
mydata_runs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 5 to 186
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       40 non-null     int64
 1   BallsFaced       40 non-null     int64
 2   BattingPosition  40 non-null     int64
 3   Dismissal        40 non-null     object
 4   Inning           40 non-null     int64
 5   Opposition       40 non-null     object
 6   Year             40 non-null     int64
dtypes: int64(5), object(2)
memory usage: 2.5+ KB

## Q 6. With how many countries Virat has played matches. Consider the country only once. Name them.

In [28]:
mydata.Opposition.nunique()

12

In [29]:
mydata.Opposition.unique()

array(['Sri Lanka', 'Pakistan', 'West Indies', 'Australia', 'Bangladesh',
       'South Africa', 'Zimbabwe', 'New Zealand', 'England', 'Ireland',
       'Netherlands', 'U.A.E.'], dtype=object)

## Q7. Which countries are top competitors of India ? Show top 5.

In [30]:
mydata.groupby(['Opposition'])['RunsScored'].sum().sort_values(ascending= True).head(5)

Opposition
Netherlands     12
U.A.E.          33
Ireland         78
Zimbabwe       253
Pakistan       459
Name: RunsScored, dtype: int64

In [31]:
# This question is similar to Q 1.

## Q 8. Compare the runs scored by Kohli in 1st innings vs the 2nd innings.

In [32]:
 mydata.groupby('Inning')['RunsScored'].mean()

Inning
1    45.111111
2    52.305085
Name: RunsScored, dtype: float64

## Q 9. Which opposition has Kohli scored most runs against? Find the median score against different oppositions?

In [33]:
mydata.groupby('Opposition')['RunsScored'].agg(['median', 'sum'])

              median   sum
Opposition
Australia       29.0  1182
Bangladesh      66.0   654
England         35.0  1112
Ireland         39.0    78
Netherlands     12.0    12
New Zealand     64.0  1154
Pakistan        12.5   459
South Africa    41.0  1269
Sri Lanka       37.0  2186
U.A.E.          33.0    33
West Indies     46.0  1840
Zimbabwe        28.0   253

### Another way

In [34]:
mydata[mydata["Opposition"]=="Bangladesh"]["RunsScored"].median()

66.0

In [35]:
mydata[mydata["Opposition"]=="New Zealand"]["RunsScored"].median()

64.0

In [36]:
mydata[mydata["Opposition"]=="Sri Lanka"]["RunsScored"].median()

37.0

## Q 10. What do you think how Kohli got out in most number of matches, show complete data about each Dismissal based on Inning?

In [37]:
pd.crosstab(index = mydata['Inning'],columns=mydata['Dismissal'], values=mydata['RunsScored'],margins=True,aggfunc='count')

Dismissal  Bowled  Caught  Hit wicket   LBW    NO  Run out  Stumped  All
Inning
1            12.0    54.0         1.0   5.0   8.0     10.0      NaN   90
2             9.0    67.0         NaN   7.0  29.0      2.0      4.0  118
All          21.0   121.0         1.0  12.0  37.0     12.0      4.0  208

The most number of times Kohli has got out is by getting caught.

<img src="https://imgk.timesnownews.com/story/Zampa_Kohli.png?tr=w-600,h-450,fo-auto" width="500" height="200" />

 Apart from that he seems to stay not out for most of the innings and looks like it is hard to get him out by other ways apart from being caught.

##  Pre and Post transformation comparison

**It is well known that Kohli started taking fitness much more seriously post an ordinary IPL in 2012. He changed his training regime and eating habits completely, realising the need to transform his body to survive the rigours of playing all three formats.**

<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSskALcVu6o9iI-7Q_rsehBkQ4PpDN6IAjWwA&usqp=CAU" width="500" height="500" />

**Kohli says it was the absence of fear or respect for him in the opposition's eye that has forced him to change his work ethic
Kohli revealed how working on his fitness has lifted his game after coming back from the Australian tour in 2012
While he considers his idol Tendulkar's skills as a cricketer in a different league, his is a case of pure hard work**

In [38]:
# let's fetch the data post transform 
mydata['post_transform'] = mydata["Year"]>2012
mydata

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year,post_transform
0,12,22,2,LBW,1,Sri Lanka,2008,False
1,37,67,2,Caught,2,Sri Lanka,2008,False
2,25,38,1,Run out,1,Sri Lanka,2008,False
3,54,66,1,Bowled,1,Sri Lanka,2008,False
4,31,46,1,LBW,2,Sri Lanka,2008,False
...,...,...,...,...,...,...,...,...
203,140,107,3,Stumped,2,West Indies,2018,True
204,157,129,3,NO,1,West Indies,2018,True
205,107,119,3,Bowled,2,West Indies,2018,True
206,16,17,3,Caught,1,West Indies,2018,True
207,33,29,3,NO,2,West Indies,2018,True

## Q 11. Compare the runs Scored before and after transformation

In [39]:
mydata.groupby(by="post_transform")["RunsScored"].sum()

post_transform
False    3886
True     6346
Name: RunsScored, dtype: int64

In [40]:
# Here, we can see a drastic change in his performance.
# We can see clearly see post transformation, he has scored more runs

## Q 12. Compare the Balls Faced before and after transformation

In [41]:
mydata.groupby(by="post_transform")["BallsFaced"].mean()

post_transform
False    51.147727
True     54.291667
Name: BallsFaced, dtype: float64

## Q 13. Compare the runs Scored before and after transformation as innings(innings wise)

In [42]:
mydata.groupby(["post_transform",'Inning'])["RunsScored"].mean()

post_transform  Inning
False           1         36.421053
                2         50.040000
True            1         51.461538
                2         53.970588
Name: RunsScored, dtype: float64

**Clearly, Kohli was good at chasing as compared to batting first, prior he went through the transformation. But post transformation, he has significantly improved his run scoring ability batting first.**

## Q 14. Compare the dismissal patterns before and after transformation.

In [43]:
pd.crosstab(index = mydata['post_transform'],columns=mydata['Dismissal'], values=mydata['RunsScored'],margins=True,aggfunc='sum')

Dismissal,Bowled,Caught,Hit wicket,LBW,NO,Run out,Stumped,All
post_transform,,,,,,,,
False,302.0,2016.0,107.0,190.0,986.0,252.0,33.0,3886
True,564.0,3095.0,NaN,160.0,2012.0,300.0,215.0,6346
All,866.0,5111.0,107.0,350.0,2998.0,552.0,248.0,10232

The average score before getting stumped and bowled has drastically improved post transformation. Average runs scored before 'Run Out' has also improved.

## Q 15. Which batting position has helped Virat score highest Runs.

In [44]:
pd.crosstab(index = mydata['post_transform'],columns=mydata['BattingPosition'], values=mydata['RunsScored'],margins=True,aggfunc='sum')

BattingPosition      1     2       3       4      5     6     7    All
post_transform
False            110.0  49.0  2231.0  1312.0  123.0  23.0  38.0   3886
True               NaN   2.0  5908.0   432.0    4.0   NaN   NaN   6346
All              110.0  51.0  8139.0  1744.0  127.0  23.0  38.0  10232

## Summary: Virat has been an outstanding perform post his transformation. If we talk about his best batting position it is 3. VK has scored more than 1000 runs till 2018. 
## We will see these results by visualization in next mentor learning session