# Golf Ball (One Way Anova)

# Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols      # For n-way ANOVA
from statsmodels.stats.anova import _get_covariance,anova_lm # For n-way ANOVA
import matplotlib.pyplot as plt
%matplotlib inline

# Loading the dataset CSV file

In [18]:
data = pd.read_csv('Golfball.csv')

# Checking the top 5 records

In [4]:
data.head()

    Design  Distance
0  Design1    206.32
1  Design1    207.94
2  Design1    206.19
3  Design1    204.45
4  Design1    209.65

# Checking the shape and information of the dataframe

In [5]:
data.shape

(40, 2)

# Checking the summary of the dataframe

In [6]:
data.describe()

         Distance
count   40.000000
mean   220.085000
std      9.697758
min    203.810000
25%    211.580000
50%    221.485000
75%    228.390000
max    235.450000

# Checking distinct values of Design

In [11]:
data.Design.value_counts()

Design3    10
Design2    10
Design4    10
Design1    10
Name: Design, dtype: int64

# Formulate the Null and Alternate Hypothesis

* Null Hypothesis  ùêª0  : The mean distance travelled by the golf balls is same with different categories of design
* Alternate Hypothesis  ùêªùê¥  : The mean distance travelled by the golf balls is different in at-least one category of design

# One Way Anova

In [16]:
formula = 'Distance ~ C(Design)'
model = ols(formula, data).fit()
aov_table = anova_lm(model)
aov_table

             df     sum_sq     mean_sq          F        PR(>F)
C(Design)   3.0  2990.9898  996.996600  53.029822  2.731991e-13
Residual   36.0   676.8244   18.800678        NaN           NaN

# Conclusion

Since the p value is less than the significance level (0.05), we can reject the null hupothesis and conclude that there is a difference in the mean distances travelled by the golf balls is different at-least one category of designs