# Golf Ball (One Way Anova)

# Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from statsmodels.formula.api import ols      # For n-way ANOVA
from statsmodels.stats.anova import _get_covariance,anova_lm # For n-way ANOVA
import matplotlib.pyplot as plt
%matplotlib inline

# Loading the dataset CSV file

In [2]:
df=pd.read_csv('Golfball.csv')

# Checking the top 5 records

In [3]:
df.head()

    Design  Distance
0  Design1    206.32
1  Design1    207.94
2  Design1    206.19
3  Design1    204.45
4  Design1    209.65

# Checking the shape and information of the dataframe

In [4]:
df.shape

(40, 2)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
Design      40 non-null object
Distance    40 non-null float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes

# Checking the summary of the dataframe

In [6]:
df.describe(include='all')

         Design    Distance
count        40   40.000000
unique        4         NaN
top     Design3         NaN
freq         10         NaN
mean        NaN  220.085000
std         NaN    9.697758
min         NaN  203.810000
25%         NaN  211.580000
50%         NaN  221.485000
75%         NaN  228.390000
max         NaN  235.450000

# Checking distinct values of Design

In [7]:
df.Design.value_counts()

Design3    10
Design2    10
Design1    10
Design4    10
Name: Design, dtype: int64

# Formulate the Null and Alternate Hypothesis

**Null Hypothesis $H_0$ : The mean distance travelled by the golf balls is same with different categories of design**

**Alternate Hypothesis $H_A$ : The mean distance travelled by the golf balls is different in at-least one category of design**

# One Way Anova

In [8]:
formula = 'Distance ~ C(Design)'
model = ols(formula, df).fit()
aov_table = anova_lm(model)
print(aov_table)

             df     sum_sq     mean_sq          F        PR(>F)
C(Design)   3.0  2990.9898  996.996600  53.029822  2.731991e-13
Residual   36.0   676.8244   18.800678        NaN           NaN

**Conclusion: Since the p value is less than the significance level (0.05), we can reject the null hupothesis and conclude that there is a difference in the mean distances travelled by the golf balls is different at-least one category of designs**