# While Loop
**Python while loop is used to run a block code until a certain condition is met.**

In [3]:
# while condition:
    # body of while loop

A while loop evaluates the condition

If the condition evaluates to True, the code inside the while loop is executed.

condition is evaluated again.

This process continues until the condition is False.

When condition evaluates to False, the loop stops.

In [4]:
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    
    print(i)
    
    i = i + 1

1
2
3
4
5

In [5]:
# program to calculate the sum of numbers
# until the user enters zero

total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    # total = total + number
    
    # take integer input again
    number = int(input('Enter a number: '))
    

print('total =', total)

Enter a number: 10
Enter a number: 10
Enter a number: 0
total = 20

## Infinite while Loop in Python

If the condition of a loop is always True, the loop runs for infinite times (until the memory is full). For example,

In [7]:
# age = 32

# # the test condition is always True
# while age > 18:
#     print('You can vote')

## Python While loop with else

In [8]:
counter = 0

while counter < 3:
    print('Inside loop')
    counter = counter + 1

else:
    print('Inside else')

Inside loop
Inside loop
Inside loop
Inside else

 The else block will not execute if the while loop is terminated by a break statement.

## Working of Python break Statement

In [11]:
counter = 0

while counter < 3:
    # loop ends because of break
    # the else part is not executed 
    if counter == 1:
        break

    print('Inside loop')
    counter = counter + 1

else:
    print('Inside else')

Inside loop

In [13]:
# program to find first 5 multiples of 6

i = 1

while i <= 10:
    print('6 *',(i), '=',6 * i)

    if i >= 5:
        break
    
    i = i + 1

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30

# For Loop

The for loop is usually used when the number of iterations is known. To iterate over sequences such as lists, tuples, string, etc.

In [14]:
languages = ['Swift', 'Python', 'Go', 'JavaScript']

# run a loop for each item of the list
for language in languages:
    print(language)

Swift
Python
Go
JavaScript

## Dataframe example

In [15]:
import pandas as pd

In [16]:
# List of Tuples
students = [('Ankit', 22, 'A'),
           ('Swapnil', 22, 'B'),
           ('Priya', 22, 'B'),
           ('Shivangi', 22, 'B'),
            ]
 
# Create a DataFrame object
stu_df = pd.DataFrame(students, columns =['Name', 'Age', 'Section'],
                      index =['1', '2', '3', '4'])

In [17]:
stu_df

       Name  Age Section
1     Ankit   22       A
2   Swapnil   22       B
3     Priya   22       B
4  Shivangi   22       B

In [25]:
stu_df.columns

Index(['Name', 'Age', 'Section'], dtype='object')

In [24]:
# gives a tuple of column name and series
# for each column in the dataframe
for (columnName) in stu_df.columns:
    print('Column Name : ', columnName)

Column Name :  Name
Column Name :  Age
Column Name :  Section

## Python break Statement with for Loop

In [26]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

# Python continue Statement

We can use the continue statement with the for loop to skip the current iteration of the loop. Then the control of the program jumps to the next iteration.

In [27]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [30]:
for i in range(5):
    print(i)

0
1
2
3
4

## Python continue Statement with while Loop

In [31]:
# program to print odd numbers from 1 to 10

num = 0

while num < 10:
    num += 1
    
    if (num % 2) == 0:
        continue
# Here, when the number is even, the continue statement skips the current 
# iteration and starts the next iteration.

    print(num)

1
3
5
7
9

# Nested While Loop

In [37]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [36]:
i = 1
while i <= 4 :
    print("I:", i)
    j = 0
    while  j <= 3 :
        print("J:", j)
        print("i*j:",i*j, end=" ")
        j += 1
    print()
    i += 1

I: 1
J: 0
i*j: 0 J: 1
i*j: 1 J: 2
i*j: 2 J: 3
i*j: 3
I: 2
J: 0
i*j: 0 J: 1
i*j: 2 J: 2
i*j: 4 J: 3
i*j: 6
I: 3
J: 0
i*j: 0 J: 1
i*j: 3 J: 2
i*j: 6 J: 3
i*j: 9
I: 4
J: 0
i*j: 0 J: 1
i*j: 4 J: 2
i*j: 8 J: 3
i*j: 12

In [33]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# User Defined Function

In [42]:
# Program to illustrate the use of user-defined functions

def add_numbers(x,y):
    sum = x + y
    return sum

num1 = 5
num2 = 6

print("The sum is", add_numbers(num1, num2))

The sum is 11

In [48]:
# Define a function to calculate the square of a number
def square(number):
    return number ** 2

# Iterate over a range of numbers and apply the square function
for i in range(1, 6):
    result = square(i)
    print(f"The square of {i} is {result}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

## Example 2

In [ ]:
# Define a function to check if a number is prime
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Create a list of numbers
numbers = [7, 12, 23, 36, 41, 52]

# Iterate over the numbers and check if they are prime
for num in numbers:
    if is_prime(num):
        print(f"{num} is a prime number")
    else:
        print(f"{num} is not a prime number")

In [49]:
# Define a function to check if a number is prime
def is_prime(number):
    if number < 2:
        return False

# The first if statement checks if the number is less than 2. 
# In mathematics, prime numbers are defined as integers greater than 1. 
# If the number is less than 2, it means it cannot be prime, 
# so the function immediately returns False.

    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
# The for loop starts from 2 and iterates up to the square root of the number 
#(rounded up to the nearest integer) plus 1. 
# The purpose of this loop is to check if the number is divisible by any integer between 2 and its square root. 
# If it is divisible, it means the number is not prime, so the function returns False.
    return True

#If the for loop completes without finding any divisors, it means the number is not 
#divisible by any integer between 2 and its square root. 
#In other words, it is a prime number, so the function returns True.

# Create a list of numbers
numbers = [7, 12, 23, 36, 41, 52]

# Iterate over the numbers and check if they are prime
for num in numbers:
    if is_prime(num):
        print(f"{num} is a prime number")
    else:
        print(f"{num} is not a prime number")

7 is a prime number
12 is not a prime number
23 is a prime number
36 is not a prime number
41 is a prime number
52 is not a prime number

## Example 3

In [38]:
import pandas as pd

# Define a function to calculate the total sales for each row in a DataFrame
def calculate_total_sales(row):
    return row['Quantity'] * row['Price']

# Create a DataFrame
data = {'Product': ['A', 'B', 'C'],
        'Quantity': [10, 5, 3],
        'Price': [15.99, 9.99, 12.50]}
df = pd.DataFrame(data)

In [40]:
df

  Product  Quantity  Price  Total Sales
0       A        10  15.99       159.90
1       B         5   9.99        49.95
2       C         3  12.50        37.50

In [41]:
# Apply the function to calculate the total sales for each row
df['Total Sales'] = df.apply(calculate_total_sales, axis=1)

# Print the updated DataFrame
df

  Product  Quantity  Price  Total Sales
0       A        10  15.99       159.90
1       B         5   9.99        49.95
2       C         3  12.50        37.50

## Example 4

In [44]:
import pandas as pd

# Create a DataFrame
data = {'Product': ['A', 'B', 'C', 'D', 'E'],
        'Price': [7.50, 15.20, 12.80, 5.30, 21.10]}
df = pd.DataFrame(data)

df

  Product  Price
0       A    7.5
1       B   15.2
2       C   12.8
3       D    5.3
4       E   21.1

In [45]:
# Define a function to categorize products based on their price
def categorize_product(price):
    if price < 10:
        return 'Low'
    elif price >= 10 and price < 20:
        return 'Medium'
    else:
        return 'High'

In [47]:
# Apply the function to create a new column 'Category' based on 'Price' values
df['Category'] = df['Price'].apply(categorize_product)

# Print the updated DataFrame
df

  Product  Price Category
0       A    7.5      Low
1       B   15.2   Medium
2       C   12.8   Medium
3       D    5.3      Low
4       E   21.1     High